
.Rproj.user/shared/notebooks/paths
.Rproj.user/F93336E5/viewer-cache/ED9A49C4.Rdata
.Rproj.user/F93336E5/viewer-cache/D957B157.Rdata
.Rproj.user/F93336E5/viewer-cache/0A36FF33.Rdata
.Rproj.user/F93336E5/sources/session-85010fcc/lock_file
.Rproj.user/F93336E5/sources/session-85010fcc/F182B2A3-contents
.Rproj.user/F93336E5/sources/session-85010fcc/DD0E81E9-contents
.Rproj.user/F93336E5/sources/session-85010fcc/C9E51BFF-contents
.Rproj.user/F93336E5/sources/session-85010fcc/9BC5BDD3-contents
.Rproj.user/F93336E5/sources/session-85010fcc/990E6837-contents
.Rproj.user/F93336E5/sources/session-85010fcc/77C647FF-contents
.Rproj.user/F93336E5/sources/session-85010fcc/716FE721-contents
.Rproj.user/F93336E5/sources/session-85010fcc/716FE721
.Rproj.user/F93336E5/sources/session-85010fcc/694B8755-contents
.Rproj.user/F93336E5/sources/session-85010fcc/59D12F5B-contents
.Rproj.user/F93336E5/sources/session-85010fcc/3A461280-contents
.Rproj.user/F93336E5/sources/session-85010fcc/37F66B11-contents
.Rproj.user/F93336E5/sources/session-85010fcc/12E473DD-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/lock_file
.Rproj.user/F93336E5/sources/session-7ecf10f9/FFEE9932-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/FE1BCB75-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/FD53CE2B-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/FD31ED35-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/F8C910E4-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/F659EF85-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/F1980531-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/F182B2A3-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/EDA37C48-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/EBC471C2-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/E2066942-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/E0FFA1A7-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/DFA9B08E-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/DED24E5C-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/DD0E81E9-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/DABF0DAA-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/D6012D7B-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/CAF5D5C8-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/C9E51BFF-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/C92D6424-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/C92884A3-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/C92884A3
.Rproj.user/F93336E5/sources/session-7ecf10f9/C777343D-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/C41F7793-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/C223E134-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/C0FBBC41-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/C0065A44-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/BD06C3AE-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/BC3A4B0D-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/BA5ED85C-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/BA404DD0-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/BA02D39D-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/B17AC4F1-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/B0B0FC42-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/B0403FA8-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/AE9F41FB-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/A6FEA4C6-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/A4BF4F8A-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/A49ED64D-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/A42937A5-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/A35F2644-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/A090B723-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/9D9C8DB0-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/9D925AF4-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/9BC5BDD3-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/990E6837-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/9640483E-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/947DCBC2-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/931C45ED-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/8C369A2C-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/8BF77B1E-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/8A8D5742-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/881BE2FE-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/87CD91C9-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/823DC13A-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/8050CC42-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/7ABFDF70-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/77EFE114-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/77C647FF-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/72C3FE88-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/716FE721-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/6ACE9D78-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/6A5CDFA6-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/6A4CF610-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/694B8755-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/5A5B75A1-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/59D12F5B-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/596B7BFE-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/56710484-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/5505F58D-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/4FEE36F2-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/4E7DEB11-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/4C68E844-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/47DD90F8-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/46EBB9A1-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/43E49C8E-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/436C760B-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/43660EA2-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/3ADC2482-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/3A461280-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/37F66B11-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/3759B426-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/369710AD-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/35941A52-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/3220D726-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/30F7057A-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/2FED732A-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/2DB4A138-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/2DB4A138
.Rproj.user/F93336E5/sources/session-7ecf10f9/2C29C51B-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/2A1C686F-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/2285BF2B-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/2285BF2B
.Rproj.user/F93336E5/sources/session-7ecf10f9/224D6439-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/1EF9AEB0-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/1ACB3EA4-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/1771BC4A-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/13E79C24-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/12E473DD-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/0E1397D3-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/0B9ACBEF-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/0B9ACBEF
.Rproj.user/F93336E5/sources/session-7ecf10f9/0B41D94E-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/0AB2D052-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/0A7E00C5-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/097D93BB-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/0572DDFB-contents
.Rproj.user/F93336E5/sources/session-7ecf10f9/031D766D-contents
.Rproj.user/F93336E5/sources/prop/INDEX
.Rproj.user/F93336E5/sources/prop/FB4D4EFA
.Rproj.user/F93336E5/sources/prop/D6EF63F9
.Rproj.user/F93336E5/sources/prop/AA41593F
.Rproj.user/shared/notebooks/paths
.Rproj.user/F93336E5/viewer-cache/ED9A49C4.Rdata
.Rproj.user/F93336E5/viewer-cache/D957B157.Rdata
.Rproj.user/F93336E5/viewer-cache/0A36FF33.Rdata
.Rproj.user/F93336E5/sources/session-85010fcc/lock_file
.Rproj.user/F93336E5/sources/session-85010fcc/F182B2A3-contents
.Rproj.user/F93336E5/sources/session-85010fcc/DD0E81E9-contents
.Rproj.user/F93336E5/sources/session-85010fcc/C9E51BFF-contents
.Rproj.user/F93336E5/sources/session-85010fcc/9BC5BDD3-contents
.Rproj.user/F93336E5/sources/session-85010fcc/990E6837-contents
.Rproj.user/F93336E5/sources/session-85010fcc/77C647FF-contents
.Rproj.user/F93336E5/sources/session-85010fcc/716FE721-contents
.Rproj.user/F93336E5/sources/session-85010fcc/716FE721
.Rproj.user/F93336E5/sources/session-85010fcc/694B8755-contents
.Rproj.user/F93336E5/sources/session-85010fcc/59D12F5B-contents
.Rproj.user/F93336E5/sources/session-85010fcc/3A461280-contents
.Rproj.user/F93336E5/sources/session-85010fcc/37F66B11-contents
.Rproj.user/F93336E5/sources/session-85010fcc/12E473DD-contents
.Rproj.user/F93336E5/sources/prop/INDEX
.Rproj.user/F93336E5/sources/prop/D6EF63F9
.Rproj.user/F93336E5/pcs/windowlayoutstate.pper
.Rproj.user/F93336E5/pcs/workbench-pane.pper
.Rproj.user/F93336E5/sources/per/t/0B9ACBEF
.Rproj.user/F93336E5/sources/per/t/0B9ACBEF-contents
.Rproj.user/F93336E5/sources/per/t/1AA7AF6F
.Rproj.user/F93336E5/sources/per/t/1AA7AF6F-contents
.Rproj.user/F93336E5/sources/per/t/2285BF2B
.Rproj.user/F93336E5/sources/per/t/2285BF2B-contents
.Rproj.user/F93336E5/sources/per/t/24831998
.Rproj.user/F93336E5/sources/per/t/24831998-contents
.Rproj.user/F93336E5/sources/per/t/2DB4A138
.Rproj.user/F93336E5/sources/per/t/2DB4A138-contents
.Rproj.user/F93336E5/sources/per/t/496C5A9D
.Rproj.user/F93336E5/sources/per/t/496C5A9D-contents
.Rproj.user/F93336E5/sources/per/t/4A3AD04A
.Rproj.user/F93336E5/sources/per/t/4A3AD04A-contents
.Rproj.user/F93336E5/sources/per/t/58A6950A
.Rproj.user/F93336E5/sources/per/t/58A6950A-contents
.Rproj.user/F93336E5/sources/per/t/A4FAFC06
.Rproj.user/F93336E5/sources/per/t/A4FAFC06-contents
.Rproj.user/F93336E5/sources/per/t/A83285C6
.Rproj.user/F93336E5/sources/per/t/A83285C6-contents
.Rproj.user/F93336E5/sources/per/t/A965F3D7
.Rproj.user/F93336E5/sources/per/t/A965F3D7-contents
.Rproj.user/F93336E5/sources/per/t/C5F36AFB
.Rproj.user/F93336E5/sources/per/t/C5F36AFB-contents
.Rproj.user/F93336E5/sources/per/t/C92884A3
.Rproj.user/F93336E5/sources/per/t/C92884A3-contents
.Rproj.user/F93336E5/sources/prop/95901E23
.Rproj.user/F93336E5/sources/prop/F348B3B2
.Rproj.user/F93336E5/sources/prop/INDEX
.Rproj.user/F93336E5/viewer-cache/07A7138B.Rdata
.Rproj.user/F93336E5/viewer-cache/4DA8BD84.Rdata
.Rproj.user/F93336E5/viewer-cache/96F168A1.Rdata
.Rproj.user/F93336E5/pcs/windowlayoutstate.pper
.Rproj.user/F93336E5/pcs/workbench-pane.pper
.Rproj.user/F93336E5/sources/per/t/1AA7AF6F
.Rproj.user/F93336E5/sources/per/t/1AA7AF6F-contents
.Rproj.user/F93336E5/sources/per/t/4A3AD04A
.Rproj.user/F93336E5/sources/per/t/4A3AD04A-contents
.Rproj.user/F93336E5/sources/per/t/58A6950A
.Rproj.user/F93336E5/sources/per/t/58A6950A-contents
.Rproj.user/F93336E5/sources/per/t/A4FAFC06
.Rproj.user/F93336E5/sources/per/t/A4FAFC06-contents
.Rproj.user/F93336E5/sources/per/t/A83285C6
.Rproj.user/F93336E5/sources/per/t/A83285C6-contents
.Rproj.user/F93336E5/sources/per/t/A965F3D7
.Rproj.user/F93336E5/sources/per/t/A965F3D7-contents
.Rproj.user/F93336E5/sources/prop/INDEX
.Rproj.user/F93336E5/pcs/windowlayoutstate.pper
.Rproj.user/F93336E5/pcs/workbench-pane.pper
.Rproj.user/F93336E5/sources/per/t/1AA7AF6F
.Rproj.user/F93336E5/sources/per/t/1AA7AF6F-contents
.Rproj.user/F93336E5/sources/per/t/4A3AD04A
.Rproj.user/F93336E5/sources/per/t/4A3AD04A-contents
.Rproj.user/F93336E5/sources/per/t/58A6950A
.Rproj.user/F93336E5/sources/per/t/58A6950A-contents
.Rproj.user/F93336E5/sources/per/t/A4FAFC06
.Rproj.user/F93336E5/sources/per/t/A4FAFC06-contents
.Rproj.user/F93336E5/sources/per/t/A83285C6
.Rproj.user/F93336E5/sources/per/t/A83285C6-contents
.Rproj.user/F93336E5/sources/per/t/A965F3D7
.Rproj.user/F93336E5/sources/per/t/A965F3D7-contents
.Rproj.user/F93336E5/sources/prop/INDEX
